
# Ignore all
*

# Unignore all dirs
!*/

# Unignore all run configuration files that we chare
!.gitignore
!disable_platform_test.*
!enable_platform_test.*
!desktop_LWJGL_2_GPS.*
!desktop_LWJGL_2.*
!desktop_LWJGL_3_GPS.*
!desktop_LWJGL_3.*
!Skineditor.*
!android.*
!cachebox3_0__clean___del_build_folder_.*
!Travis_Gradle_JUnit_tests.*
!All_JUnit_tests.*